.nav {
	position: fixed;
	border-radius: 50px;
	padding-right: 25px;
	backdrop-filter: blur(10px);
	background: rgba(255, 255, 255, 0.3);
	margin: 1%;
}

.nav li {
	list-style: none;
	padding: 10px;
}

.nav li a {
	text-decoration: none;
	color: #0d0d0d;
	font-size: larger;
}

.navHome {
	display: flex;
}
